header {
    position: fixed;



}

h1 {
  font-size: 60px;
}

html{
background-color: #29524a;
}

footer{
    position:fixed;
    top:93%;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows:auto auto auto auto auto auto auto auto;

  
  
}

.container div {
  background-color: #29524a;
}

#nav1{
    
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
    border-style:inset;
    border-color: #999999;
    
    border-width: 5px;
}
#nav2{
    
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    border-style:outset;
    border-color: #999999;
    border-radius: 1%;
     border-width: 5px;
}
#nav3{
   
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
    border-style:outset;
    border-color: #999999;
    border-radius: 1%;
     border-width: 5px;
}
#nav{
  text-decoration: none;
}

#s1{
  grid-column-start:1 ;
  grid-column-end:3 ;
  grid-row-start:2 ;
  grid-row-end:3 ;


}


#s3{
  grid-column-start:3 ;
  grid-column-end:4 ;
  grid-row-start:2 ;
  grid-row-end:4 ;
}

#rim{
  height:100%;
  float:right;

}

#titletext1{
  font-size: 250px;
  font-family:'Times New Roman', Times, serif;
  font-weight:bolder;
  right:40%;
}
#titletext2{
  font-size: 250px;
  font-family:'Times New Roman', Times, serif;
  font-weight:bolder;
  float:bottom
}

#nav1:hover{
  border-style: inset;
  background-color: #9b9b9b;  
}
#nav2:hover{
  border-style: inset;
  background-color: #9b9b9b;
}
#nav3:hover{
  border-style: inset;
  background-color: #9b9b9b;
}
#ph{
  font-size: 115px;

}
#s4{
  grid-column-start:1 ;
  grid-column-end:3 ;
  grid-row-start:3 ;
  grid-row-end:5 ; 

}
#s4.5 {
  grid-column-start:3 ;
  grid-column-end:4 ;
  grid-row-start:3 ;
  grid-row-end:4 ; 

}

#s5{
  grid-column-start:1 ;
  grid-column-end:3 ;
  grid-row-start:5 ;
  grid-row-end:6 ; 

}
#s5.5 {
  grid-column-start:3 ;
  grid-column-end:4 ;
  grid-row-start:5 ;
  grid-row-end:6 ; 

}
#s6{
  grid-column-start:1 ;
  grid-column-end:3 ;
  grid-row-start:6 ;
  grid-row-end:7 ; 

}
#s6.5 {
  grid-column-start:3 ;
  grid-column-end:4 ;
  grid-row-start:6 ;
  grid-row-end:7 ; 

}